[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
expects = "*"
mamba = "*"
hypothesis = "*"
PyQt5 = "*"
PyQt6 = "*"
anki = "*"
aqt = "*"
PyQtWebEngine = "*"

[packages]
PyFunctional = "*"
dulwich = "*"
pygtrie = "*"
cached-property = "*"
PyYAML = "*"

[requires]
python_version = "3.7"
